.labels {
  font-size: 20px;
  padding: 10px;
}

.input_wrapper {
  display: inline-block;
}

table {
  width: 100%;
  margin-bottom: 75px;
}


table td {
  width: 500px;
  display:block;
  margin: 0 auto;
}
